$my-primary: #060F19;
$my-secondary: #182028;
$my-contrast: #13bE13;
$my-tertiary: #FFFFFF;
$my-border: #223241;

$my-bg-linear: linear-gradient(180deg, rgba(19, 190, 19, 0.29) 1.82%, rgba(88, 199, 88, 0.445859) 52.25%, rgba(217, 217, 217, 0.06) 94.57%), linear-gradient(180deg, rgba(19, 190, 19, 0.65) 0%, rgba(217, 217, 217, 0.06) 52.08%);
     

//Brands color
$fb: #3b5998;
$twit: #00acee;
$in: #0d6c99;
$insta: #691822;
$g-plus: #da4a39;
$pint: #b00a1b;
//Mixin
@mixin small-square{
    width: 2rem;
    height: 2rem;
}
@mixin my-square{
    width: 5rem;
    height: 5rem;
}
@mixin radius-left{
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
}
@mixin radius-right{
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px ;
}
@mixin absolute-100{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}