$my-primary: #182028;
$my-secondary: #060F19;
$my-contrast: #13bE13;
$my-tertiary: #FFFFFF;
$my-border: #223241;

//Brands color
$fb: #3b5998;
$twit: #00acee;
$in: #0d6c99;
$insta: #691822;
$g-plus: #da4a39;
$pint: #b00a1b;
//Mixin
@mixin small-square{
    width: 2rem;
    height: 2rem;
}
@mixin my-square{
    width: 5rem;
    height: 5rem;
}