@use '../partials/variables' as * ;
@import 'bootstrap/scss/bootstrap.scss';

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

body{
    background-color: $my-primary;
    color: $my-tertiary;
}
ul {
    list-style: none;
}
a {
    color: $my-tertiary;
    text-decoration: none;
    // cursor: pointer;
}
a:hover {
    color: $my-contrast;
}
.pointer{
    cursor: pointer;
}
 //Color
.my-contrast{
    color: $my-contrast;
}
//Circle
.circle{
    @include small-square;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    margin-left: 1.5rem;
}
//Width and height
.w-6{
    width: 6rem;
}